<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <title>Edit</title>
</head>
<body>
    <div class='container'>
    <h1>Edit Activity Page</h1>
    <a href="/srq">Back to Homepage</a>
    <br/><br/>
    <form action="/srq/<%= option._id %>?_method=PUT" method="POST">
        Name: <input type="text" name="Name" value="<%= option.Name %>"> 
        <br/>
        Description: <input type="text" name="Description" value="<%= option.Description %>">
        <br/>
        Date: <input type="date" name="Date">
        <br/><br/>
        <input type="submit" name="" value="SUBMIT CHANGES">
    </form>
    </div>
</body>
</html>