<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SRQ Bound</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <!-- <div class="container"> -->
    <div id="primary">
        <div class="nav">
            <nav>
                <a class="button" href="">Our Story</a>
                <a class="button" href="">The Wedding</a>
                <a class="button" href="">Gallery</a>
                <a class="button" href="">Contact</a>
                <a class="button" href="">Registry</a>
                <a class="button" href="">RSVP</a>
            </nav>
        </div>
        <div class="welcome">
            <h3>Together with their families</h3>
            <h1>Casey & Peter</h1>
            <h3>Joyfully invite you to their wedding celebration</h3>
            <h2>April 2nd, 2022, 5:00 PM | Longboat Key, FL</h2>
        </div>
    </div>
    <img id="proposal" src="/IMG_8586.jpg" alt="">

    <h3>Suggestions from the Bride</h3>
    <div class="suggestions">
        <div class="one-third column">
            <h3>Arts</h3>
                <a class="u-full-width button" href="https://www.ringling.org/">The Ringling Museum</a>
                <a class="u-full-width button" href="https://selby.org/">Botanical Gardens</a>
                <a class="u-full-width button" href="https://www.vanwezel.org/">Performing Arts</a>
        </div>
        <div class="one-third column">
            <h3>Beaches</h3>
                <a class="u-full-width button" href="https://www.visitsarasota.com/longboat-key">Longboat Key</a>
                <a class="u-full-width button" href="https://www.visitsarasota.com/siesta-key">Siesta Key</a>
                <a class="u-full-width button" href="https://www.visitsarasota.com/lido-key-st-armands-circle">Lido Key & St. Armands</a>
        </div>
        <div class="one-third column">
            <h3>Dining</h3>
                <a class="u-full-width button" href="https://www.dineshore.com/location/shore-longboat-key/">Shore</a>
                <a class="u-full-width button" href="https://owensfishcamp.com/">Owen's Fish Camp</a>
                <a class="u-full-width button" href="https://www.columbiarestaurant.com/Menus-By-Location/Locations/St-Armands-Circle">Columbia</a>
        </div>
    </div>

    <h3>... from the Groom</h3>
    <div class="suggestions">
        <div class="one-third column">
            <h3>Offshore</h3>
                <a class="u-full-width button" href="">Fishing</a>
                <a class="u-full-width button" href="">Kayaking</a>
                <a class="u-full-width button" href="">Boating</a>
        </div>
        <div class="one-third column">
            <h3>For Par</h3>
                <a class="u-full-width button" href="">The Concession</a>
                <a class="u-full-width button" href="">LBK Club</a>
                <a class="u-full-width button" href="">Bradenton</a>
        </div>
        <div class="one-third column">
            <h3>Exercise</h3>
                <a class="u-full-width button" href="">Walking</a>
                <a class="u-full-width button" href="">Biking</a>
                <a class="u-full-width button" href="">Yoga</a>
        </div>
    </div>

    <a class="u-full-width button button-primary" href="/srq/new">Create New Activity</a>

    <div class="row">
        <div>
            <ul>
                <% for (let i=0;i<options.length;i++) { %>
                <li>
                    <a href="/srq/<%= options[i]._id %>">
                    <%= options[i].Name %>
                    </a> 
                    <form action='/srq/<%= options[i]._id %>?_method=DELETE' method="POST">
                        <input class="u-full-width button" id="delete" type="submit" value="DELETE">
                    </form>
                    <a class="u-full-width button" href="/srq/<%= options[i]._id %>/edit">Edit</a>
                </li>
                <% } %>
                <br/>
            </ul>
        </div>
    </div>
    <!-- </div> -->
</body>

</html>