<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SRQ Bound</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <div class="container">
        <section>
            <div class="nav">
                <nav>
                    <a class="button" href="">Our Story</a>
                    <a class="button" href="">The Wedding</a>
                    <a class="button" href="">Gallery</a>
                    <a class="button" href="">Contact</a>
                    <a class="button" href="">Registry</a>
                    <a class="button" href="">RSVP</a>
                </nav>
                <div id="primary">
                    <div class="welcome">
                        <h1>
                            Together with their families
                            <br><br>
                            Casey & Peter
                            <br><br>
                            Joyfully invite you to their wedding celebration
                            <br><br>
                            April 2nd, 2022, 5:00 PM | Longboat Key, FL
                        </h1>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- <section>
            <div>
                <img id="proposal-pic" src="/IMG_8586.jpg" alt="">
            </div>
        </section> -->
        
        <section>
            <div>
                <img src="https://lh3.googleusercontent.com/proxy/irDSRp6XK50gcAwPk4XJVjZIQJ7tfw2x6BgSTX_0EOeEeDMFl3dJcpno8t8QTlXbNQ0Byncmn3Etx4W_FVwjxcV5LL-KUMTDgH6titC6aRYu2-ktAQ3ek8RtGtgrIKBmUVVIXQM1c7RisfDR7tQ" alt="">
            </div>
            <h3>Suggestions from the Bride</h3>
            <div class="suggestions">
                <div class="one-third column">
                    <h3>Arts</h3>
                        <a class="u-full-width button" target="_blank" rel="noopener noreferrer" href="https://www.ringling.org/">The Ringling Museum</a>
                        <a class="u-full-width button" target="_blank" rel="noopener noreferrer" href="https://selby.org/" >Botanical Gardens</a>
                        <a class="u-full-width button" target="_blank" rel="noopener noreferrer" href="https://www.vanwezel.org/" >Performing Arts</a>
                </div>
                <div class="one-third column">
                    <h3>Beaches</h3>
                        <a class="u-full-width button" target="_blank" rel="noopener noreferrer" href="https://www.visitsarasota.com/longboat-key">Longboat Key</a>
                        <a class="u-full-width button" target="_blank" rel="noopener noreferrer" href="https://www.visitsarasota.com/siesta-key">Siesta Key</a>
                        <a class="u-full-width button" target="_blank" rel="noopener noreferrer" href="https://www.visitsarasota.com/lido-key-st-armands-circle">Lido Key & St. Armands</a>
                </div>
                <div class="one-third column">
                    <h3>Dining</h3>
                        <a class="u-full-width button" target="_blank" rel="noopener noreferrer" href="https://www.dineshore.com/location/shore-longboat-key/">Shore</a>
                        <a class="u-full-width button" target="_blank" rel="noopener noreferrer" href="https://owensfishcamp.com/">Owen's Fish Camp</a>
                        <a class="u-full-width button" target="_blank" rel="noopener noreferrer" href="https://www.columbiarestaurant.com/Menus-By-Location/Locations/St-Armands-Circle">Columbia</a>
                </div>
            </div>
        </section>
        
        <section>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/0323/5573/files/650e2b03bd2c8515e932049209cf1deb.jpg?v=1559330257">
            </div>
            <h3>... from the Groom</h3>
            <div class="suggestions">
                <div class="one-third column">
                    <h3>Offshore</h3>
                        <a class="u-full-width button" target="_blank" rel="noopener noreferrer" href="">Fishing</a>
                        <a class="u-full-width button" target="_blank" rel="noopener noreferrer" href="">Kayaking</a>
                        <a class="u-full-width button" target="_blank" rel="noopener noreferrer" href="">Boating</a>
                </div>
                <div class="one-third column">
                    <h3>For Par</h3>
                        <a class="u-full-width button" target="_blank" rel="noopener noreferrer" href="">The Concession</a>
                        <a class="u-full-width button" target="_blank" rel="noopener noreferrer" href="">LBK Club</a>
                        <a class="u-full-width button" target="_blank" rel="noopener noreferrer" href="">Bradenton</a>
                </div>
                <div class="one-third column">
                    <h3>Exercise</h3>
                        <a class="u-full-width button" target="_blank" rel="noopener noreferrer" href="">Walking</a>
                        <a class="u-full-width button" target="_blank" rel="noopener noreferrer" href="">Biking</a>
                        <a class="u-full-width button" target="_blank" rel="noopener noreferrer" href="">Yoga</a>
                </div>
            </div>
        </section>

        <section>
            <h1>Create Your Itinerary!</h1>
            <a class="u-full-width button button-primary" href="/srq/new">Create New Activity</a>
           
            <!-- GOOGLE MAPS EMBEDDED -->
            <!-- https://developers.google.com/maps/documentation/embed/get-started -->      
            <iframe
            width="600"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCHrO10hgkTAWNJeiD4nH-o6hSGLaF_ERM
                &q=Sarasota+FL">
            </iframe>
           
            <div class="row">
                <div>
                    <ul>
                        <% for (let i=0;i<options.length;i++) { %>
                        <li>
                            <a href="/srq/<%= options[i]._id %>">
                            <%= options[i].Name %>
                            </a> 
                            <br>
                            <a class="button" href="/srq/<%= options[i]._id %>/edit">Edit</a>
                            <form action='/srq/<%= options[i]._id %>?_method=DELETE' method="POST">
                                <input class="button" id="delete" type="submit" value="DELETE">
                            </form>
                        </li>
                        <% } %>
                        <br/>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</body>

</html>