<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <title>Show Page</title>
</head>
<body>
    <div class="container">
        <h1><%= option.Name %></h1>
        <h2><%= option.Description %></h2>
        <h2><%= option.Date %></h2>
        <a class="u-full-width button button-primary" href="/srq/">Back to Home Page</a>
    </div>

    <!-- concatenate google maps api query using option.Name -->
    

    <div class="map">
        <!-- GOOGLE MAPS EMBEDDED -->
        <!-- https://developers.google.com/maps/documentation/embed/get-started -->      
        <iframe
            width="600"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCHrO10hgkTAWNJeiD4nH-o6hSGLaF_ERM
                &q=Sarasota+FL">
        </iframe>
    </div>
</body>
</html>