@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
    background-color: rgb(219, 247, 255);
    /* background-image: url('https://www.publicdomainpictures.net/pictures/40000/velka/white-rose-on-the-black-background.jpg'); */
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/153/880/original/vector-beach-wedding-background.jpg');
    font-family: 'Dancing Script', cursive;
    text-align: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* background-size: auto; */
    background-position-y: top;
    background-position-x: center;
    max-width: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* h1, h2, h3 {
    padding: 1em 
    margin-top: 150px;
    font-size: 80px
}
*/

a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

#edit, #delete {
    font-family: 'Dancing Script', cursive;
    color: black;
    border-radius: 6%;
    text-decoration: none;
    text-transform: uppercase;
    /* rounded edges */
    /* font-size: 18px; */
    /* border: solid black; */
    /* margin: 10px; */
}

img {
    display: inline-block;
    z-index: -1;
    height: 600px;
}

.together {
    margin-top: 100px;
}


/* .nav {
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    color: honeydew;
    text-transform: uppercase;
    padding: 15px;
    margin-right: 250px;
    margin-left: 250px;
} */



/* 
body {
  background: url(https://images.clipartlogo.com/files/istock/previews/8741/87414357-apple-seamless-pastel-colors-pattern-fruits-texture-background.jpg);
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

h1 {
  font-family: 'Righteous', cursive;
  background: antiquewhite;
  margin:0;
  margin-bottom: .5em;
  padding: 1em;
  text-align: center;
}

a {
  color: orange;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
  background: rgba(193, 235, 187, .9);
  padding: .25em;
  margin: .5em; 

}

a:hover {
  color: ghostwhite;
}

li {
  list-style: none;
}

li a {
  color: mediumseagreen;
}

input[type=text] {
  padding: .3em;
}

input[type=submit] {
  padding: .3em;
  color: orange;
  background: mediumseagreen;
  font-size: 1em;
  border-radius: 10%;
} */