@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
    background-color: rgb(219, 247, 255);
    /* background-image: url('https://www.publicdomainpictures.net/pictures/40000/velka/white-rose-on-the-black-background.jpg'); */
    font-family: 'Dancing Script', cursive;
    text-align: center;
    background-size: cover;
    /* background-size: auto; */
    background-image: url('./teahub.io-beach-wallpaper-10692.png');
    background-position-y: top;
    background-position-x: center;

}

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} */

a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

#edit, #delete {
    color: black;
    border-radius: 6%;
    text-decoration: none;
    text-transform: uppercase;
    /* rounded edges */
    /* font-size: 18px; */
    /* border: solid black; */
    /* margin: 10px; */
}

/* .nav {
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    color: honeydew;
    text-transform: uppercase;
    padding: 15px;
    margin-right: 250px;
    margin-left: 250px;
} */



/* 
body {
  background: url(https://images.clipartlogo.com/files/istock/previews/8741/87414357-apple-seamless-pastel-colors-pattern-fruits-texture-background.jpg);
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

h1 {
  font-family: 'Righteous', cursive;
  background: antiquewhite;
  margin:0;
  margin-bottom: .5em;
  padding: 1em;
  text-align: center;
}

a {
  color: orange;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
  background: rgba(193, 235, 187, .9);
  padding: .25em;
  margin: .5em; 

}

a:hover {
  color: ghostwhite;
}