@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
  /* background-color: rgb(219, 247, 255); */
  /* background-image: url('https://www.publicdomainpictures.net/pictures/40000/velka/white-rose-on-the-black-background.jpg'); */
  /* font-family: 'Dancing Script', cursive; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-size: auto; */
  /* background-image: url('./teahub.io-beach-wallpaper-10692.png'); */
  /* background-image: linear-gradient(to bottom right,rgb(70, 183, 235),  blanchedalmond); */
}

#primary {
  background-image: url('./teahub.io-beach-wallpaper-10692.png');
  display: flex;
  flex-direction: column;
  background-size: cover;
}

#proposal {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}

ul {
    list-style-type: none;
}



a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}



#edit, #delete {
    color: black;
    padding: 0em;
    margin:0em;
    text-decoration: none;
    text-transform: uppercase;
}


/*
.nav {
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    color: honeydew;
    text-transform: uppercase;
    padding: 15px;
    margin-right: 250px;
    margin-left: 250px;
} 



h1 {
  font-family: 'Righteous', cursive;
  background: antiquewhite;
  margin:0;
  margin-bottom: .5em;
  padding: 1em;
  text-align: center;
}

a {
  color: orange;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
  background: rgba(193, 235, 187, .9);
  padding: .25em;
  margin: .5em; 

}

a:hover {
  color: ghostwhite;
} */