h3 {
    text-align: center;
}

body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/153/880/original/vector-beach-wedding-background.jpg');
}

.welcome {
    padding: 8rem 0 7rem;
    text-align: center;
}

.suggestions {
    text-align: center;
}

