<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <title>Welcome!</title>
</head>

<body>
    <div class="offset-by-one-third column" style="padding-top: 20%">
        <h1>Log In</h1>
        <div>
            <form action='/sessions' method="POST">
                <label for="name">User Name:</label>
                <input type="text" name="username" required />
                <label for="color">Password:</label>
                <input type="password" name="password" required />
                <br>
                <input type="submit" value="Log In">
                <br>
                <button>Continue as Guest</button>
            </form>
        </div>
    </div>
</body>

</html>